#music h2 {
	@extend %titulo;
	font-size: 6rem;
	margin-top: 2%;
}

#music {
	width: 100%;
	height:100%;
	background-color: $gris;
	padding: 4%;
}

#music ul {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;

}

#music ul li {
	width: 31%;
	margin: 1%;
}

#music ul li img{
	width: 100%
}



#music ul li:nth-child(2) .segunda { 
	display: none;
}

#music ul li:nth-child(2):hover .primera {
	display: none;
}

#music ul li:nth-child(2):hover .segunda { 
	display: block;
}


#music ul li:nth-child(3) .segunda { 
	display: none;
}

#music ul li:nth-child(3):hover .primera {
	display: none;
}

#music ul li:nth-child(3):hover .segunda { 
	display: block;
}


#music ul li:nth-child(4) .segunda { 
	display: none;
}

#music ul li:nth-child(4):hover .primera {
	display: none;
}

#music ul li:nth-child(4):hover .segunda { 
	display: block;
}


#music ul li:nth-child(5) .segunda { 
	display: none;
}

#music ul li:nth-child(5):hover .primera {
	display: none;
}

#music ul li:nth-child(5):hover .segunda { 
	display: block;
}

#music ul li:nth-child(6) .segunda { 
	display: none;
}

#music ul li:nth-child(6):hover .primera {
	display: none;
}

#music ul li:nth-child(6):hover .segunda { 
	display: block;
}