#us {
	@extend %base;
	background-image: url(../images/fondo.png);
	background-size: 100%, 100vh;
	background-repeat:no-repeat;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#us .contenedor {
	background-color: rgba(255,255,255,0.8);
	margin-top: 5%;
	width: 85%;
	height: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content:center;
}
#us h2 {
	@extend %titulo;
	color: $rojo;
	font-size: 6.5rem;
	margin-top: 0.5%;
	width: 90%
}

#us .contenedor p {
	@extend %textos;
	color: white;
	width: 90%;
}

#us .imagenes {
	width: 90%;
}

.imagenes ul {
	display: flex;
	justify-content: center;
}

.imagenes ul li {
	margin: 0 10px; 
}

.imagenes ul li img {
	width: 100%;
}







